@import "../../../var.sass"

.bm-menu-wrap
  z-index: 1000

.bm-menu

  background: #fff
  padding: 2.5em 1.5em 0
  font-size: 2.15em

.bm-morph-shape
  fill: #fff

.bm-burger-bars
  background: $accent-orange
  width: 4em

.bm-cross-button
  height: 24px
  width: 24px

.bm-cross
  background: red

.bm-burger-button
  position: fixed
  width: 50px
  height: 50px
  top: 20px
  left: 30px
