@import "../../var.sass"

.header
  display: flex
  justify-content: space-between
  height: 80px
  position: fixed
  width: 100%
  transition: $transition

  &-scroll
    background: rgba(#fff, 0.15)
    .header-left-side
      .logo
        img
          transition: $transition
          width: 49%
          padding: 25px 150px

  &-left-side
    .logo
      img
        transition: $transition
        width: 74%
        padding: 50px 150px


