@import "../../var.sass"

.header
  z-index: 999
  background: url(../../img/header-img.jpg) no-repeat
  background-position: top
  display: flex
  justify-content: space-between
  height: 80px
  position: fixed
  width: 100%
  transition: $transition

  &-scroll
    background: rgba(#fff, 0.15)
    transition: $transition

  p
    font-size: 22px
    align-self: center
    margin-right: 30px



