@import "../../var.sass"

.slider
  &__wrap
    height: 400px
    overflow: hidden
    position: relative
    img
      transition: $transition
      width: 100%
      height: 100%
    &:hover
      .slider__hover
        background: rgba(0,0,0, 0.3)
        opacity: 1
      img
        transform: scale(1.2)
  .Button
    margin: 0 auto

.slider__hover
  transition: $transition
  opacity: 0
  text-align: center
  position: absolute
  display: flex
  flex-direction: column
  justify-content: space-around
  top: 0
  right: 0
  left: 0
  bottom: 0
  img
    height: 80px



